{% set post = __SELF__.post %}
<div class="post-component">
	{% partial "#{__SELF__.alias}::_jssor" post=post %}
	{% partial "#{__SELF__.alias}::_postInfo" post=post %}
	{% partial "#{__SELF__.alias}::_summary" post=post %}
	
	{% if post.featured_images.count %}
	    <div class="featured-images text-center">
	        {% for image in post.featured_images %}
	            <p>
	                <img
	                    data-src="{{ image.filename }}"
	                    src="{{ image.path }}"
	                    alt="{{ image.description }}"
	                    style="max-width: 100%" />
	            </p>
	        {% endfor %}
	    </div>
	{% endif %}
</div>
