{% partial "@default/_jssor" category=category %}
{% partial "@default/_description" %}
{% partial "@default/_categoryImages" %}

{% if category.show_categories and category.merge_categories_with_posts == false %}
<div class="category-list row">
	{% for post in category.children %}
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 co-xl-4 layout-image">
			<article style="background-image: url('{{ post.box_image.getPath() }}');" class="grid-image">
				<header class="grid-image-caption">
					<h2>
						<a href="{{ post.url }}">
							{{ post.title }}
						</a>
					</h2>
				</header>
				<div class="grid-image-bg">
					<div class="grid-image-scale">
						<span class="grid-image-desc">{{ post.box_summary }}</span>
						<a class="grid-image-readmore" href="{{ post.url }}">
							Weiterlesen...
						</a>	
					</div>
				</div>
			</article>
		</div>
	{% endfor %}
</div>
{% endif %}

{% if category.show_posts %}
<div class="post-list row">
	{% for post in posts %}
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 co-xl-4 layout-image">
			<article style="background-image: url('{{ post.box_image.getPath() }}');" class="grid-image">
				<header class="grid-image-caption">
					<h2>
						<a href="{{ post.url }}">
							{{ post.title }}
						</a>
					</h2>
				</header>
				<div class="grid-image-bg">
					<div class="grid-image-scale">
						<span class="grid-image-desc">{{ post.box_summary }}</span>
						<a class="grid-image-readmore" href="{{ post.url }}">
							Weiterlesen...
						</a>	
					</div>
				</div>
			</article>
		</div>
	{% endfor %}
</div>
{% endif %}

												

{% if posts.lastPage > 1 %}
	<ul class="pagination">
		{% if posts.currentPage > 1 %}
			<li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
		{% endif %}

		{% for page in 1..posts.lastPage %}
			<li class="{{ posts.currentPage == page ? 'active' : null }}">
				<a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
			</li>
		{% endfor %}

		{% if posts.lastPage > posts.currentPage %}
			<li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
		{% endif %}
	</ul>
{% endif %}

